APP_ENVIRONMENT=development
DEBUG=false

# PostgreSQL compose service values
POSTGRES_DB=nasiya
POSTGRES_USER=nasiya
POSTGRES_PASSWORD=dev_pass
POSTGRES_PORT=5432

# Host kompyuterda app ishga tushsa, PostgreSQL published port orqali ulanadi.
DB_HOST_LOCAL=127.0.0.1
DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST_LOCAL}:${POSTGRES_PORT}/${POSTGRES_DB}

# Docker ichidagi app esa compose service hostname va ichki 5432 portdan foydalanadi.
DB_HOST_DOCKER=db
DATABASE_URL_DOCKER=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST_DOCKER}:5432/${POSTGRES_DB}
