APP_ENVIRONMENT=development
DEBUG=false
POSTGRES_DB=nasiya
POSTGRES_USER=nasiya
POSTGRES_PASSWORD=dev_pass
POSTGRES_PORT=5432

# Compose ichida ishlash uchun DB hosti
DB_HOST_DOCKER=db
# Host mashinada ishlatish uchun DB hosti
DB_HOST_LOCAL=127.0.0.1
DATABASE_URL=postgresql+psycopg://nasiya:${POSTGRES_PASSWORD}@${DB_HOST_LOCAL}:${POSTGRES_PORT}/${POSTGRES_DB}
DATABASE_URL_DOCKER=postgresql+psycopg://nasiya:${POSTGRES_PASSWORD}@${DB_HOST_DOCKER}:${POSTGRES_PORT}/${POSTGRES_DB}
